body{
    background: #C9E3DC;
    /*background: #e9f6f2;*/
    font-family: "Century Gothic", serif;
    color: #696969;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation{
    display: flex;
    flex-direction: row;
}
.navigation li {
    display: inline-block;

}
.navigation li a {
    display: block;
    padding: 1em 0.5em;
    text-decoration: none;
    color: #696969;
}
.socialGraphics{
    width: 20px;
    margin-left: 10px;
}
.socialContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;

}
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.headerSection{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}
.headshot{
    width: 250px;
    height: 250px;

}
.title{
    font-family: "Avenir Next Condensed", serif;
    font-size: 25px;
    color: #696969;
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle{
    font-size: 15px;
    margin-bottom: 20px;
}

.signature{
    width: 350px;
    /*height: 70px;*/
}
.projectSection{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*.box{*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*border: 2px solid #ffffff;*/
    /*margin: 15px;*/
/*}*/
.border-box{
    position: relative;
    width:250px;
    height: 250px;
    border: none;
    margin: 15px;
    padding: 3px;
    transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
}
.border-box:hover{
    position: relative;
    width:250px;
    height: 250px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px;
    transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.footerText{
    font-size: 12px;
}
.clickable{
    color: #696969;
}
.clickable:hover{
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .headerSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .border-box{
        position: relative;
        width:230px;
        height: 230px;
        border: none;
        margin: 15px;
        padding: 3px;
        transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    }
    .border-box:hover{
        position: relative;
        width:230px;
        height: 230px;
        border: 3px solid #FFFFFF;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 3px;
        transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    }
}

@media screen and (max-width: 600px) {
    .headerSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        font-family: "Avenir Next Condensed", serif;
        font-size: 20px;
        color: #696969;
        margin-top: 0;
        margin-bottom: 0;
    }
    .subtitle{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .signature{
        width: 250px;
        /*height: 70px;*/
    }


    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .border-box{
        position: relative;
        width:200px;
        height: 200px;
        border: none;
        margin: 15px;
        padding: 3px;
        transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    }
    .border-box:hover{
        position: relative;
        width:200px;
        height: 200px;
        border: 3px solid #FFFFFF;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 3px;
        transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
        -webkit-transition: background 0.5s ease-in-out, border 0.3s ease-in-out;
    }
}
