
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(-15deg, #7bc1ad, #ddf4ee, #ebfcff);
    font-family: Poppins, sans-serif;
    color: #696969;
    margin: 0;
}
.container{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.navbar{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
/*}*/
/*.navigation{*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/
/*.navigation li {*/
    /*display: inline-block;*/

/*}*/
/*.navigation li a {*/
    /*display: block;*/
    /*padding: 1em 0.5em;*/
    /*text-decoration: none;*/
    /*color: #696969;*/
/*}*/

/*HEADER CSS*/
.socialGraphics{
    width: 23px;
    margin-left: 10px;
}
.socialContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: flex-end;
}
.navLinks{
    margin-Top: 5px;
    margin-right: 20px;
}
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.headerSection{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}
.headshot{
    width: 250px;
    height: 250px;

}
.title{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: #696969;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle{
    font-size: 15px;
    margin-bottom: 20px;
}

.signature{
    width: 400px;
    /*height: 70px;*/
}

/*PROJECT CSS*/
.ml12 {
    display: flex;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.5em;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
    /*background: linear-gradient(120deg, #662d91 0%, #3873b3 43.7%, #00c9dd 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}
.projectSection{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projectBox{
    display: flex;
    flex-direction: column;
}
.caption{
    margin-left: 20px;
}
.demos{
    opacity: 0.80;
    box-shadow: 5px 5px 18px #888888;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.demos:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.demoTitle{
    font-family: "Avenir Next Condensed", serif;
    color: #000000;
    font-size: 20px;
    margin-bottom: 0;
}
.demoSubtitle{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
}
.demoIcons{
    width: 20px;
    margin-top: 5px;
}
.border-box{
    position: relative;
    width:300px;
    height: 300px;
    border: none;
    margin: 15px;
    padding: 3px;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out;

}
.border-box:hover{
    position: relative;
    width:290px;
    height: 290px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px;
    transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out;
}

button.border-box{
    outline: none;
    padding: 0;
    background-color: transparent;
}

/*FOOTER CSS*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: auto;
    flex-shrink: 0;
}
.footerText{
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    color: #696969;
}
.footerContainer{
    display: flex;
    justify-content: flex-end;
}
.footerGraphics{
    width: 18px;
    margin-left: 10px;
}
.clickable{
    color: #696969;
    font-size: 16px;
    margin-top: 0;
}
.clickable:hover{
    color: #5b529e;
    margin-top: 0;
}
.csunToday{
    color: #000000;
    font-size: 12px;
}
.csunToday:hover{
    color: #5b529e;
}
.demos{
    width: 100%;
    height: 100%;
}

/*MODAL BODY CSS*/
.modal-content{
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}
.modal-body{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close{
    margin: 10px;
}
.modalTitle{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 10px;
}
.modalSubitle{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*About CSS*/
#aboutHeader{
    background-color: #b1d4c6;
}
#aboutTitle{
    color: #FFFFFF;
}
#aboutBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}
.headshotSection{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.headshot{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.techTitle{
    font-size: 18px;
    margin-top: 18px;
}
.otherTitle{
    font-size: 16px;
    margin-top: 16px;
}
.computer{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.skills, .otherSkills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.otherSkills{
    margin-top: 0;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 210px;
}
.skillTitles{
    font-size: 16px;
    color: #47b9d1;
}
.technicalSkills{
    display: flex;
    flex-direction: column;
}

/*Animated Arrow*/
.the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}
.the-arrow.-left > .shaft {
    width: 0;
    background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: #4c4c4c;
}
.the-arrow.-left > .shaft:before {
    transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
    transform: rotate(0);
}
.the-arrow.-right {
    top: 3px;
}
.the-arrow.-right > .shaft {
    width: 1px;
    transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
}
.the-arrow > .shaft {
    background-color: #4c4c4c;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #4c4c4c;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}
.the-arrow > .shaft:before {
    transform-origin: top right;
}
.the-arrow > .shaft:after {
    transform-origin: bottom right;
}
.animated-arrow {
    display: inline-block;
    color: #4c4c4c;
    font-size: 1.0em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}
.animated-arrow:hover {
    color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #808080;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
    transform: translateX(17px);
    transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
}
.animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
    font-weight: bold;
    color: #696969;
}
.animated-arrow > .main > .the-arrow {
    position: relative;
}


/*MOBILE APP CSS*/
#cinthyHeader{
    background-color: #d7fddf;
}
#cinthyTitle{
    color: #29C367;
}
#cinthyBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
    background: #d8fcff;
}
.cinthy{
    /*position: absolute;*/
    margin: 20px;
    z-index: 2;
    top: 70px;
    left: 150px;
}
.palm{
    position: absolute;
    top: 400px;
    left: -60px;
    z-index: 1;
    width: 160px;
}
.smallLeaf{
    position: absolute;
    top: 0;
    left: -60px;
    z-index: 1;
}
.leaf{
    position: absolute;
    right: -55px;
    top: 80px;
    z-index: 1;
}
.leaf2{
    position: absolute;
    right: -55px;
    top: -20px;
    z-index: 2;
}
.paragraph{
    margin: 0px 25px 0 25px;
}

/*Career Site CSS*/
#siteHeader{
    background-color: #c22432;
}
#siteTitle{
    color: #FFFFFF;
}
#siteBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}

/*AJ Jam CSS*/
#aiHeader{
    background-color: #83779e;
}
#aiTitle{
    color: #FFFFFF;
}
#aiBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}


/*Strengths CSS*/
#strengthsHeader{
    background-color: #4283b1;
}
#strengthsTitle{
    color: #FFFFFF;
}
#strengthsBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}

/*Wearables CSS*/
#wearableHeader{
    background-color: #e2836e;
}
#wearableTitle{
    color: #FFFFFF;
}
#wearableBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}

/*Demo CSS*/
#demoHeader{
    background-color: #d48f98;
}
#demoTitle{
    color: #FFFFFF;
}
#demoBody{
    /*background-image: linear-gradient(#88DFFF,#FCF662);*/
}
